.fc-state-default {
    text-shadow: none;
    box-shadow: none;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 5rem;
}

.fc-toolbar .fc-button-group {
    border: 1px solid  #d59d32;
    border-radius: 4px;
}

.fc-toolbar .fc-button {
    background: #d59d32;
    color: #fff;
    border: none;
}

.fc-toolbar .fc-button:hover {
    background:  #d59d32;
    opacity: 1;
}

.fc-toolbar .fc-button.fc-state-active {
    background: #fff;
    color:  #d59d32;
}


.fc-widget-header {
    border: 0px !important;
}

.fc-widget-content {
    border-color: rgba(120, 130, 140, 0.13) !important;
}

.fc-widget-content tr {
    border-bottom: none;
}


.fc-view {
    margin-top: 0px;
}

.fc-toolbar {
    margin: 0px;
    padding: 24px 0px;
}


.fc-event {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;

    padding: 5px 5px;
    text-align: center;
    background: #40c4ff;
}
.bg-info2{
	background:#01b556 !important;
}

.event-1{
    display: inline-block;
    width: 12px;
    margin-right: 3px;
    border: black;
    height: 12px;
    border-radius: 6px;
}

.btn_add_event{
    background:  #d59d32 !important;
    color: white !important;
}

.btn_add_event:hover{
    background:  #d59d32 !important;
    color: white !important;
}

.bg-primary_1{
    background:  #d59d32 !important;
}
.bg-primary_1:hover{
    background:  #d59d32 !important;
}

.bg-primary_2{
    background:  #3f729b !important;
}
.bg-primary_2:hover{
    background:  #3f729b !important;
}

.bg-success_1{
     background: #01b556 !important;
}
.bg-success_1:hover{
     background: #02c65f !important;
}
