.wrapperST a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #f8b739; }
.wrapperST a:hover, a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.wrapperST button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
.wrapperST button:hover, button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }


.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }
.heading-section small {
  font-size: 18px; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.wrapperST .navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.wrapperST .navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

.wrapperST {
  width: 100%;
  margin-top: 7rem;
}

.wrapperST #sidebar {
  min-width: 347px;
  max-width: 333px;
  background: #f9f8f6;
  height:830px !important;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
#sidebar.active {
  margin-left: -300px; }
#sidebar .logo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto; }
#sidebar .logo span {
  display: block; }
#sidebar ul.components {
  padding: 0; }
.active1 .active{
  background-color:#1B3E70;
  color:white;
}

.menu-item .active{
  background-color:#1B3E70;
  color:white;

}
#sidebar ul li {
  font-size:  12px; }
#sidebar ul li > ul {
  margin-left: 10px; }
#sidebar ul li > ul li {
  font-size: 14px; }
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: #206c45;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;}
#sidebar ul li a:hover {
  color: #f8b739; }
#sidebar .dropdown-toggle:hover {
  margin: 10px -20px !important;
  color: white;
  background-color: #206c45;
  padding: 10px 10px}
/*#sidebar ul li.active > a {
  background: transparent;
  color: #f8b739; }*/
@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -300px; }
  #sidebar.active {
    margin-left: 0; } }

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }

.wrapperST #content {
  width: 100%;
  padding: 0;
  height:830px !important;
  overflow-y: scroll;
  }


#chartdiv ,  #chartpiediv {
  width: 100%;
  height: 500px;
}
.statistique-flip-card{
  height: 115px;
}
.hide {
  display: none;
}

.show {
  display: block;
}

#sidebar {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #206c45;
}
#sidebar::-webkit-scrollbar {
  width: 11px;
}
#sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#sidebar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
#sidebar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

#content {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #206c45;
}
#content::-webkit-scrollbar {
  width: 11px;
}
#content {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
#content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/*# sourceMappingURL=style.css.map */
html {
  --scrollbarBG: #ddebf5;
  --thumbBG: #206c45;
}
body::-webkit-scrollbar {
  width: 16px !important;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/*
#resultat{
  height: 400px !important;
}*/
