USE [seed]
GO
/****** Object:  Table [dbo].[categorie]    Script Date: 16/06/2021 12:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[id_categorie] [int] IDENTITY(1,1) NOT NULL,
	[delete_date_time] [datetime2](7) NULL,
	[nom_ar] [nvarchar](255) NULL,
	[nom_fr] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorie_souscategorie]    Script Date: 16/06/2021 12:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie_souscategorie](
	[id_cat] [int] NOT NULL,
	[id_souscat] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[souscategorie]    Script Date: 16/06/2021 12:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[souscategorie](
	[id_souscategorie] [int] IDENTITY(1,1) NOT NULL,
	[delete_date_time] [datetime2](7) NULL,
	[nom_ar] [nvarchar](255) NULL,
	[nom_fr] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_souscategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categorie] ON 

INSERT [dbo].[categorie] ([id_categorie], [delete_date_time], [nom_ar], [nom_fr]) VALUES (1, NULL, N'INDUSTRIE
EXTRACTIVE
', N'INDUSTRIE
EXTRACTIVE
')
INSERT [dbo].[categorie] ([id_categorie], [delete_date_time], [nom_ar], [nom_fr]) VALUES (2, NULL, N'INDUSTRIE
DE L’ENERGIE
', N'INDUSTRIE
DE L’ENERGIE
')
INSERT [dbo].[categorie] ([id_categorie], [delete_date_time], [nom_ar], [nom_fr]) VALUES (3, NULL, N'INDUSTRIE
METALLURGIQUE ET DE TRAVAIL DES METAUX
', N'INDUSTRIE
METALLURGIQUE ET DE TRAVAIL DES METAUX
')
SET IDENTITY_INSERT [dbo].[categorie] OFF
GO
INSERT [dbo].[categorie_souscategorie] ([id_cat], [id_souscat]) VALUES (1, 1)
INSERT [dbo].[categorie_souscategorie] ([id_cat], [id_souscat]) VALUES (1, 2)
INSERT [dbo].[categorie_souscategorie] ([id_cat], [id_souscat]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[souscategorie] ON 

INSERT [dbo].[souscategorie] ([id_souscategorie], [delete_date_time], [nom_ar], [nom_fr]) VALUES (1, NULL, N'Travaux d’exploration minière', N'Travaux d’exploration minière')
INSERT [dbo].[souscategorie] ([id_souscategorie], [delete_date_time], [nom_ar], [nom_fr]) VALUES (2, NULL, N'Installations d’oléoducs ', N'Installations d’oléoducs ')
INSERT [dbo].[souscategorie] ([id_souscategorie], [delete_date_time], [nom_ar], [nom_fr]) VALUES (3, NULL, N'Carrières ', N'Carrières ')
SET IDENTITY_INSERT [dbo].[souscategorie] OFF
GO
ALTER TABLE [dbo].[categorie_souscategorie]  WITH CHECK ADD  CONSTRAINT [FKdw19xqbgjy398bocyxygfv166] FOREIGN KEY([id_cat])
REFERENCES [dbo].[categorie] ([id_categorie])
GO
ALTER TABLE [dbo].[categorie_souscategorie] CHECK CONSTRAINT [FKdw19xqbgjy398bocyxygfv166]
GO
ALTER TABLE [dbo].[categorie_souscategorie]  WITH CHECK ADD  CONSTRAINT [FKipojwj65t75c1ni5c16dksucx] FOREIGN KEY([id_souscat])
REFERENCES [dbo].[souscategorie] ([id_souscategorie])
GO
ALTER TABLE [dbo].[categorie_souscategorie] CHECK CONSTRAINT [FKipojwj65t75c1ni5c16dksucx]
GO
