USE [seed]

delete document_dechetct
delete document_instalation

update document_dechetnd set titre=N'الترخيص باستيراد النفايات غير الخطرة'

GO
SET IDENTITY_INSERT [dbo].[document_dechetct] ON 

SET IDENTITY_INSERT [dbo].[document_dechetct] OFF
GO
SET IDENTITY_INSERT [dbo].[document_instalation] ON 

SET IDENTITY_INSERT [dbo].[document_instalation] OFF
GO
