USE [seed]
GO
/****** Object:  Table [dbo].[transporteurparam]    Script Date: 25/05/2021 13:51:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transporteurparam](
	[id_transporteur_param] [int] IDENTITY(1,1) NOT NULL,
	[delete_date_time] [datetime2](7) NULL,
	[fax] [nvarchar](255) NULL,
	[identifiant] [nvarchar](255) NULL,
	[nom] [nvarchar](255) NULL,
	[tel] [nvarchar](255) NULL,
	[numero_autorisation] [nvarchar](255) NULL,
	[adresse] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_transporteur_param] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[transporteurparam] ON 

INSERT [dbo].[transporteurparam] ([id_transporteur_param], [delete_date_time], [fax], [identifiant], [nom], [tel], [numero_autorisation], [adresse]) VALUES (6, NULL, N' 06 60 71 27 75', N'', N'Eco Laber Services ', N'05 22 35 11 30', N'', N'23 BD MLY slimane 1er étageAin Sebaa –Casablanca')
INSERT [dbo].[transporteurparam] ([id_transporteur_param], [delete_date_time], [fax], [identifiant], [nom], [tel], [numero_autorisation], [adresse]) VALUES (7, NULL, N'05 37 82 29 84', NULL, N'COMAGAL', N' 05 37 80 06 96', NULL, N'Zerdal Gharbia sect.2
N° 1812 Bouknadel Salé')
INSERT [dbo].[transporteurparam] ([id_transporteur_param], [delete_date_time], [fax], [identifiant], [nom], [tel], [numero_autorisation], [adresse]) VALUES (8, NULL, N'05 28 82 69 83', NULL, N'Ecosynergie', N'05 28 82 01 94', NULL, N'27 rue Alwahda Alwatania
Agadir')
SET IDENTITY_INSERT [dbo].[transporteurparam] OFF
