USE [seed]
GO
/****** Object:  Table [dbo].[doc_import]    Script Date: 02/06/2021 18:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doc_import](
	[id_doc_import] [int] IDENTITY(1,1) NOT NULL,
	[cocher] [nvarchar](255) NULL,
	[delete_date_time] [datetime2](7) NULL,
	[nom_ar] [nvarchar](255) NULL,
	[nom_fr] [nvarchar](255) NULL,
	[typeaut] [nvarchar](255) NULL,
	[uri] [nvarchar](255) NULL,
	[id_classification] [int] NULL,
	[description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_doc_import] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[doc_import] ON 

INSERT [dbo].[doc_import] ([id_doc_import], [cocher], [delete_date_time], [nom_ar], [nom_fr], [typeaut], [uri], [id_classification], [description]) VALUES (1430, NULL, NULL, N'Copie de la carte nationale', N'Copie de la carte nationale', N'CT', NULL, 1, N'Description')
INSERT [dbo].[doc_import] ([id_doc_import], [cocher], [delete_date_time], [nom_ar], [nom_fr], [typeaut], [uri], [id_classification], [description]) VALUES (1431, NULL, NULL, N'Type de véhicules et des conteneurs à utiliser pour transporter des déchets dangereux', N'Type de véhicules et des conteneurs à utiliser pour transporter des déchets dangereux', N'CT', NULL, 1, N'Description')
INSERT [dbo].[doc_import] ([id_doc_import], [cocher], [delete_date_time], [nom_ar], [nom_fr], [typeaut], [uri], [id_classification], [description]) VALUES (1432, NULL, NULL, N'Nombre de véhicules et de conteneurs (avec illustration)', N'Nombre de véhicules et de conteneurs (avec illustration)', N'CT', N'/assets/myFile/file1448.PNG', 1, N'')
GO
SET IDENTITY_INSERT [dbo].[doc_import] OFF
ALTER TABLE [dbo].[doc_import]  WITH CHECK ADD  CONSTRAINT [FK6prqh7r9ygyllg64bgyverxcp] FOREIGN KEY([id_classification])
REFERENCES [dbo].[classification] ([id_classification])
GO
ALTER TABLE [dbo].[doc_import] CHECK CONSTRAINT [FK6prqh7r9ygyllg64bgyverxcp]
GO
